body{
    background-color: rgb(29, 28, 28);
}

h1{
    text-align: left;
    color: rgb(255, 255, 255);
}

.sec{
    background-color: rgb(175, 135, 135);
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}
